<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <a href="/products">Volver a lista de productos</a>
    </header>

    <div class="product-details">
        <p>{{product._id}}</p>
        <h2>{{product.description}}</h2>
        <p>precio: ${{product.price}}</p>
        <p>Stock: {{product.Stock}}</p>
        <p>Categoria: {{product.category}}</p>
        <p>Estado: {{product.availability}}</p>
        <button>Agregar al carrito</button>
    </div>

    <footer>
        
    </footer>
    
</body>
</html>